* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding: 36px;
}

.header {
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280, 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}

.header-image {
  height: 100%;
  margin-right: 6px;
}

.header-title {
  font-size: 20px;
  margin-right: auto;
}

.header-text {
  font-size: 12px;
  font-weight: 500;
}

/*  Style the main section of the page: user inputs*/
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
}

.form-input {
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  text-indent: 5px;
}

.form-button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280, 1.18%, #a626d3 100%);
  color: white;
  border: none;
  cursor: pointer;
}

/* Stylinng for forms tutorial component */
.textInput,
textarea {
  padding: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

label {
  margin-left: 15px;
}

/* Style the display area of the meme generator */
.meme {
  position: relative;
}

.meme-image {
  max-width: 100%;
  max-height: auto;
  object-fit: contain;
  margin: auto;
  display: block;
  border-radius: 3px;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
